<div>

    <h2>Countries List</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Country Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country of countries">
          <td>{{ country.countryID }}</td>
          <td>{{ country.countryName }}</td>
          <td>
            <button (click)="deleteCountry(country.countryID)" class="btn btn-danger">Delete</button>
            <button routerLink="/api/countries/edit/{{country.countryID}}" class="btn btn-secondary">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
