<div class="card mt-3">
  <div class="card-header">
    <h2>Subcategories</h2>
    <a routerLink="/add-sub-category" class="btn btn-primary">Add Subcategory</a>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Subcategory Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subCategory of subCategories">
          <td>{{ subCategory.packageSubCategoryID }}</td>
          <td>{{ subCategory.subCategoryName }}</td>
          <td>{{ subCategory.description }}</td>
          <td>
            <a [routerLink]="['/update/sub/category', subCategory.packageSubCategoryID]"
              class="btn btn-warning">Edit</a>

            <button (click)="deleteSubCategory(subCategory.packageSubCategoryID)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>