<div class="userData">
    <table class="table">
        <thead>
            <tr>
                <th>UserID</th>
                <th>User Name</th>
                <th>User Profile</th>
                <th>User Role</th>
                <th>User Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>12</td>
                <td>mohiuddin</td>
                <td>image</td>
                <td>admin</td>
                <td>active</td>
                <td>
                    <button>edit</button>
                    <button>delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
