<div class="container mt-4">
  <!-- Add Location Button -->
  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-primary" (click)="navigateToAddLocation()">Add Location</button>
  </div>

  <!-- Location List Table -->
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Location Name</th>
          <th scope="col">State Name</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let location of locations">
          <td>{{ location.locationName }}</td>
          <td>{{ location.stateName }}</td>
          <td>
            <!-- Action Buttons -->
            <button class="btn btn-warning btn-sm me-2" (click)="navigateToEditLocation(location.locationID)">
              Edit
            </button>
            <button class="btn btn-danger btn-sm" (click)="deleteLocation(location.locationID)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>