<h2 class="text-center my-4">Add Transport Provider</h2>
<form (ngSubmit)="addProvider()" class="container p-4 bg-light rounded shadow-sm">
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" id="name" [(ngModel)]="provider.name" name="name" class="form-control" required />
    </div>

    <div class="col-md-6 mb-3">
      <label for="companyName" class="form-label">Company Name</label>
      <input type="text" id="companyName" [(ngModel)]="provider.companyName" name="companyName" class="form-control" required />
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="contactNumber" class="form-label">Contact Number</label>
      <input type="text" id="contactNumber" [(ngModel)]="provider.contactNumber" name="contactNumber" class="form-control" required />
    </div>

    <div class="col-md-6 mb-3">
      <label for="address" class="form-label">Address</label>
      <input type="text" id="address" [(ngModel)]="provider.address" name="address" class="form-control" required />
    </div>
  </div>

  <div class="form-check mb-3">
    <input type="checkbox" id="isVerified" [(ngModel)]="provider.isVerified" name="isVerified" class="form-check-input" />
    <label for="isVerified" class="form-check-label">Verified</label>
  </div>

  <button type="submit" class="btn btn-primary  shadow-sm">Add Provider</button>
</form>

