<p>schedule-list works!</p>

<div class="container">
    <h2>Schedules for Package {{packageID}}</h2>
    
    <div *ngIf="schedules.length > 0; else noSchedules">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Schedule ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Day Number</th>
            <th>Tentative Time</th>
            <th>Actual Time</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let schedule of schedules">
            <td>{{ schedule.scheduleID }}</td>
            <td>{{ schedule.scheduleTitle }}</td>
            <td>{{ schedule.scheduleDescription }}</td>
            <td>{{ schedule.dayNumber }}</td>
            <td>{{ schedule.tentativeTime | date:'short' }}</td>
            <td>{{ schedule.actualTime ? (schedule.actualTime | date:'short') : 'N/A' }}</td>
            <td>
              <a [routerLink]="['/schedule/edit', schedule.scheduleID]" class="btn btn-primary btn-sm">Edit</a>
              <button class="btn btn-danger btn-sm" (click)="deleteSchedule(schedule.scheduleID)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <ng-template #noSchedules>
      <p>No schedules available for this package.</p>
    </ng-template>
  </div>
  