<div class="container mt-5">
  <div class="card-header d-flex justify-content-between align-items-center bg-white text-black">
    <h2 class="mb-0">Add Food Item</h2>
    <a class="btn btn-outline-primary" [routerLink]="['/foodItems']">
      <i class="bi bi-list"></i> Food Items List
    </a>
  </div>
<div class="card-body p-4">
  
  <!-- Form -->
  <form [formGroup]="foodItemForm" (ngSubmit)="submitForm()">
    <!-- Item Name -->
    <div class="mb-4">
      <label for="itemName" class="form-label">Item Name</label>
      <input
        id="itemName"
        formControlName="itemName"
        type="text"
        class="form-control shadow-sm"
        [ngClass]="{ 'is-invalid': isSubmitted && formControls['itemName'].errors }"
      />
      <div *ngIf="isSubmitted && formControls['itemName'].errors" class="invalid-feedback">
        Item Name is required.
      </div>
    </div>

    <!-- Created At (Read-only field) -->
    <div class="mb-4">
      <label for="createdAt" class="form-label">Created At</label>
      <input
        id="createdAt"
        formControlName="createdAt"
        type="datetime-local"
        class="form-control shadow-sm"
        readonly
      />
    </div>

    <!-- Updated At (Read-only field) -->
    <div class="mb-4">
      <label for="updatedAt" class="form-label">Updated At</label>
      <input
        id="updatedAt"
        formControlName="updatedAt"
        type="datetime-local"
        class="form-control shadow-sm"
        readonly
      />
    </div>

    <!-- Submit and Cancel Buttons -->
    <div class="d-flex justify-content-between">
      <button type="submit" class="btn btn-primary px-4 shadow-sm">
        <i class="bi bi-save"></i> Save Food Item
      </button>
      <a class="btn btn-secondary px-4 shadow-sm" [routerLink]="['/foodItems']">
        <i class="bi bi-x-circle"></i> Cancel
      </a>
    </div>
  </form>
</div>
</div>
